/* Mobile View */
/*  
@media(max-width:500px) {
    #showcase{
        grid-template-columns: 1fr;
    }

     .show-text{
        order: 2;
    }

    #showcase{
        padding: 1rem 1rem 0 1rem;
    }

    .main{
        display: none;
    }

    .mobile{
        font-weight: bolder;
        margin-bottom: 2rem;
    }

    #showcase,.show,.overlay{
        height: 75vh;
    }  


}

@media(max-width:768px) and (min-width:501px) {
    #showcase{
        grid-template-columns: 1fr;
    }

     .show-text{
        order: 2;
    }

    #showcase{
        padding: 1rem 1rem 0 1rem;
    }

    .main{
        display: none;
    }

    .mobile{
        font-weight: bolder;
        margin-bottom: 2rem;
        text-align: center;
    }


    #showcase,.show,.overlay{
        height: 90vh;
    } 
}


@media(max-width:1024px) and (min-width:769px) {
    .main{
        display: none;
    }

} */
 




